{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
<h1>Team Members: {{ team_count }}</h1>
    {% if user.is_authenticated %}
        {% if show_hello %}
            <h2>Hello, {{ hello_username }}</h2>
        {% endif %}

        {% for notification in user.notifications.all %}
            <h2>{{ notification.date_created }} | {{ notification.text }}</h2>
        {% empty %}
            <h2>No notifications.</h2>
        {% endfor %}
    {% else %}
        <h2>You entered as a Guest...</h2>
    {% endif %}

    <h1>Please, press the button</h1>
    <a class="btn btn-info" href="/prediction/">Predictions</a>
{% endblock %}
