{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if show_hello %}
            <h2>Hello, {{ hello_username }}</h2>
        {% endif %}
    {% else %}
        <h2>You entered as a Guest...</h2>
    {% endif %}

    <h1>Please, press the button</h1>
    <a class="btn btn-info" href="/prediction/">Predictions</a>
{% endblock %}
